<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578244706408-vghl57kfdtileja277293n5b285un5sn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578244706408-vghl57kfdtileja277293n5b285un5sn</string>
	<key>API_KEY</key>
	<string>AIzaSyApViAih2XfWSYzDWbMlUdtKGjVEyTPpdU</string>
	<key>GCM_SENDER_ID</key>
	<string>578244706408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chsherbaksergey.InstagramApp</string>
	<key>PROJECT_ID</key>
	<string>instagramapp-a8532</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramapp-a8532.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578244706408:ios:26355c109f5510de2d3bdd</string>
	<key>DATABASE_URL</key>
	<string>https://instagramapp-a8532.firebaseio.com</string>
</dict>
</plist>